.account-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #b7b7b7;
  width: 60%;
}

.account-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-details {
  border-bottom: 1px solid #b7b7b7;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 20px 30px;
}

.details-titles {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-grow: 2;
  width: 100%;
  margin-top: 20px;
}

.account-details button {
  width: 93%;
  margin-top: 10px;
  height: 40px;
  background-color: #454545;
  color: #fefcff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.email-password {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 3;
  width: 100%;
  padding-top: 10px;
}

.email-password label {
  font-size: 14px;
  margin-bottom: 10px;
}

.email-password input {
  height: 40px;
  width: 93%;
  padding-left: 5px;
}

.email-password div {
  margin-top: 5px;
  text-decoration-line: underline;
  font-size: 12px;
  cursor: pointer;
}

.personal-details {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 100%;
  padding-top: 20px;
}

h2 {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.personal-title {
  margin-left: 30px;
}

.personal-details div {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 100%;
}

.personal-details input {
  display: flex;
  height: 40px;
  padding-left: 5px;
  width: 93%;
  margin-bottom: 10px;
}

.personal-details form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personal-details label {
  display: flex;
  justify-content: start;
  font-size: 14px;
  margin-bottom: 10px;
}

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: brown;
}
