.credit-card-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 250px;
}

.credit-card-form div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.credit-card-form label {
  display: flex;
  justify-content: start;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
  width: 100%;
}

.credit-card-form input {
  height: 40px;
  width: 50%;
  padding-left: 5px;
  border: 1px solid #454545;
}

.credit-card-form button {
  padding: 10px;
  font-size: 12px;
  background-color: #454545;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}

.credit-card-form button:hover {
  background-color: #218838;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.StripeElement {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #454545;
  width: 50%;
  margin-top: 20px;
}
