.password-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.change-password-container {
  width: 70%;
  justify-content: center;
  align-items: center;
}

.password-right-space {
  width: 50%;
  border-left: 1px solid #b7b7b7;
}

.change-password-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #b7b7b7;
  padding: 40px 20px 40px 20px;
}

.change-password-container form input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #454545;
}

.change-password-container form label {
  width: 80%;
  display: flex;
  justify-content: start;
  font-size: 15px;
  font-weight: 300;
}

.change-password-container form button {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #b7b7b7;
  background-color: #454545;
  color: #fefcff;
}
