.cat-bar-container {
  margin: 40px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

.cat-bar-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.cat-bar-li {
  list-style: none;
  margin: 10px 10px 10px 10px;
}

.cat-button {
  all: unset;
  cursor: pointer;
  padding: 2px 3px 2px 3px;
  font-size: 13px;
}

.cat-button-selected {
  all: unset;
  cursor: pointer;
  padding: 2px 3px 2px 3px;
  font-size: 13px;
  border-bottom: 1px solid #454545;
}

.cat-button:hover {
  border-bottom: 1px solid #454545;
}
