.nav-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 45px 20px;
  width: 75%;
}

.nav-btn-container {
  display: flex;
  /* background-color: #fffeee; */
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 20px 45px 20px;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-button-list {
  list-style-type: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-link,
.logo {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.nav-search-container {
  background-color: #970c10;
  width: 100%;
}
