.top-bar {
  background-color: #454545;
  height: 35px;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #454545;
  width: 93%;
  height: 100px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-button-list {
  list-style-type: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-link,
.logo,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  all: unset;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.cat-list {
  background-color: #636363;
  width: 93%;
}
