.address-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.address-details-container-form {
  display: flex;
  width: 60%;
  height: 100%;
  border-right: 1px solid #b7b7b7;
}

.address-details-container-add {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #b7b7b7;
}

.update-address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-address {
  width: 100%;
  height: 100%;
}

.new-address-container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.address-new-button {
  margin-top: 20px;
  width: 40%;
  height: 40px;
  background-color: #454545;
  color: #fefcff;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}

/* New address form */

.address-form-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.address-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.address-form-container div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}

.address-form-container input {
  height: 40px;
  width: 100%;
  padding-left: 5px;
  border: 1px solid #454545;
  margin-bottom: 10px;
}

.address-form-container label {
  display: flex;
  justify-content: start;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.address-form-container button {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  background-color: #454545;
  color: #fefcff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.address-close-button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.address-close-button {
  color: #454545;
  font-size: 30px;
  cursor: pointer;
  margin: 25px 25px 0px 0px;
}

.address-icon {
  font-size: 30px;
  margin-top: 30px;
}

.display-address-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}

.display-address {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  width: 50%;
  height: 50%;
  padding-top: 15px;
  padding-bottom: -3px;
}

.display-address.no-border {
  border-bottom: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7b7b7;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #454545;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

.edit-address-button-container {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  padding-top: 10px;
}

.edit-address-button-container button {
  background-color: #fefcff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.saved-address-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
}

.saved-address-details div {
  font-size: 12px;
  margin-bottom: 5px;
}

.delete-address-container {
  display: flex;
  justify-content: end;
  padding-right: 14px;
}

.delete-address-container button {
  background-color: #454545;
  color: #fefcff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
  height: 30px;
}
